# Driver jdbc	   
database.JDBC_DRIVER=jdbc:sqlserver

# User de database
database.USER=sa

# passWord de database
database.PASS_WORD=root2020

# Host o direccion IP de database 
database.HOST=localhost

# Puerto de entrada
database.PORT=1433

# Nombre de la database 
database.DATABASE=bds4

# Nombre nombre de la clase de connection
database.CLASSNAME=com.microsoft.sqlserver.jdbc.SQLServerDriver